.palette {
	text-transform: none;
}
.span4 , .span6{
	margin-bottom: 15px;
}
#loading {
	position:   absolute;
	z-index:    1000;
	top:        0;
	left:       0;
	height:     100%;
	width:      100%;
	background: rgba(255, 255, 255, 0.8)
				url('../images/ajax-loader.gif') 
				50% 50% 
				no-repeat;
}
#logo {
	margin-left: 11px;
	margin-right: 11px;
	margin-top: 13px;
	width: 222px;
	height: 26px;
}
.navbar-inner {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.container {
	top: 0; bottom: 0; left: 0; right: 0;
	position: absolute;
}
.toggle.toggle-off .toggle-radio  {
	color: #333;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}